
<link rel="stylesheet" type="text/css" href="/css/style.css">

<div id="registration-container">
    <div class="rooms-content">
        <div class="rooms-container">
        <h2 class="place">Places to stay</h2>
        
            

<div class="rooms-grid">
    {{#each roomsList}}
    <a class="room-link" href="">
                <div class="room">
                    <div class="box-img">
                      <img class="room-title" src="/uploads/{{this.roomImage}}">
                    </div>
                    <h2 class="room-title">{{this.title}}</h2>
                    <h2 class="room-title">{{this.description}}</h2>
                    <h2 class="room-price">{{this.location}}</h2>
                    <h2 class="room-title">{{this.price}}/Night: $</h2>
                    <input type="submit" value="Book Now">
                
                   
                    <!---<input type="submit" value="Book Now" class="search" id="search">   I should put it in form--->
                </div>
                {{else}}
                There is no room
            </a>
            {{/each}}
</div>


