<main>
    
    <div class="room">
       Title : {{roomDoucment.title}}
    </div>

    <div>
         Price : {{roomDoucment.price}}
    </div>

      <div>
         Description : {{roomDoucment.description}}
    </div>

      <div>
         Location : {{roomDoucment.location}}
    </div>

      <div>
         Image : {{roomDoucment.image}}
    </div>
</main>